[Unit]
Description=Recurring transactions service
After=multi-user.target
FailureAction=reboot
StartLimitAction=reboot
After=app.service
#OnFailure=my-app-recovery.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/ubuntu/live/MyApp/src/recurring_transactions.py
WorkingDirectory=/home/ubuntu/live/MyApp/src
User=ubuntu
StandardOutput=null
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

# sudo vim /etc/systemd/system/recurring_transactions.service
# sudo chmod +x /etc/systemd/system/recurring_transactions.service
